<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          type="text"
          required
          [(ngModel)]="contact.name"
          name="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input
          type="email"
          required
          [(ngModel)]="contact.email"
          name="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mensaje</ion-label>
        <ion-textarea
          required
          [(ngModel)]="contact.message"
          name="message"
        ></ion-textarea>
      </ion-item>

      <ion-button
        expand="full"
        type="submit"
        [disabled]="!contactForm.form.valid"
      >
        Enviar
      </ion-button>
    </form>
  </div>
</ion-content>
